<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2px solid black">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
        </tr>
        <tr>
            <td><%= user[0].name %></td>
            <td><%= user[0].age %></td>
            <td><%= user[0].course %></td>
        </tr>
        <tr>
            <td><%= user[1].name %></td>
            <td><%= user[1].age %></td>
            <td><%= user[1].course %></td>
        </tr>
        <tr>
            <td><%= user[2].name %></td>
            <td><%= user[2].age %></td>
            <td><%= user[2].course %></td>
        </tr>
    </table>
</body>
</html>